// Cores
$color-white: #fff;
$color-primary: #00acdc;
$color-gray: #616070;
$color-black: #000;
$blue: #00acdc;
$link-color: #060b35;
$color-title-hover: #34568b;

// Tipografia
$font-weight-bold: 700;
$font-weight-400: 400;
$font-weight-500: 500;

// Bordas
$border-radius-small: 5px;

// Velocidade
$transition-speed: 300ms;
